*.zip
Home-Depot-Product-Search-Relevance-master/attributesParser.R
Home-Depot-Product-Search-Relevance-master/CapstonProjectPresentation.html
Home-Depot-Product-Search-Relevance-master/CapstonProjectPresentation.rmd
Home-Depot-Product-Search-Relevance-master/data/relevance_instructions.docx
Home-Depot-Product-Search-Relevance-master/data/~$levance_instructions.docx
Home-Depot-Product-Search-Relevance-master/matchScorer.R
Home-Depot-Product-Search-Relevance-master/README.md
Home-Depot-Product-Search-Relevance-master/run_analysis2.r
Home-Depot-Product-Search-Relevance-master/Springboard Capstone Project - Milestone Check-in.Rmd
Home-Depot-Product-Search-Relevance-master/run_analysis.r
Home-Depot-Product-Search-Relevance-master/Springboard_Capstone_Project_-_Milestone_Check-in.Rmd
Home-Depot-Product-Search-Relevance-master/test_set_predictions.csv
